[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
fastapi = "*"
gunicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pydantic = "*"
httpx = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"

[requires]
python_version = "3.12.3"
