[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
gunicorn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
pydantic = "*"
uvicorn = "*"
replicate = "*"
pydub = "*"
pymupdf = "*"
python-jose = { extras = ["cryptography"], version = "*" }
httpcore = "*"
httpx = "*"
distro = "*"
annotated-types = "*"
iniconfig = "*"
packaging = "*"
python-dateutil = "*"
requests = "*"
urllib3 = "*"
langchain = "*"
langchain-core = "*"
langchain-community = "*"
langchain-openai = "*"
langchain-anthropic = "*"
langchain-google-genai = "*"
readabilipy = "*"
langchain-perplexity = "*"
pyuploadcare = "*"
pillow = "*"
google-genai = "*"
python-multipart = "*"

[dev-packages]
pytest = "*"
requests-mock = "*"
ruff = "*"
the-agent = {path = ".", editable = true}

[requires]
# Python 3.12: keep in sync with pyproject.toml
python_version = "3.12"
python_full_version = "3.12.6"
